{% extends 'web/base.html' %}

{% block body %}
    <div class="ui text container">
        <h1>Concurrency conflict</h1>
        <p>
            {% if object.concurrency_user and not object.concurrency_user.is_anonymous %}
                {{ object.concurrency_user }}
            {% else %}
                Noen
            {% endif %}
            startet å endre "{{ object }}" for {{ object.concurrency_time|timesince }} siden.
            Vent til brukeren lagrer eller overskriv og ignorer alle endringene.
        </p>
        <p>
            <a class="ui red button" href="?override_edit=true">Overstyr</a>
            <button class="ui gray button" onclick="window.history.back();">Tilbake</button>
        </p>
    </div>
{% endblock %}
