{% extends 'web/base.html' %}
{% load staticfiles %}
{% load helpers %}

{% block title %}New {{ view.model|get_class|lower }}{% endblock %}
{% block og_title %}New {{ view.model|get_class|lower }}{% endblock %}

{% block body %}

<h1>{{ profile.user }}</h1>

{% if profile.projects %}
    <p>{{ profile.projects }}</p>
    {% if edit %}
    {% endif %}
{% endif %}

{% if profile.skills %}
    <p>{{ profile.skills }}</p>
    {% if edit %}
        <button type="button" onclick="show_modal()" class="ui blue button">Edit</button>
    {% endif %}
{% endif %}

<div class="ui modal">
    <div class="ui text container">
        <form class="ui form" method="POST">
            <h1>New {{ view.model|get_class|lower }}</h1>
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
</div>

<script>
    function show_modal() {
        $('.ui.modal')
        .modal('show')
        ;
    }
    $('.ui.dropdown')
    .dropdown()
    ;
</script>

{% endblock %}