{% extends 'web/base.html' %}
{% load staticfiles %}
{% load helpers %}

{% block title %}Profile{% endblock %}
{% block og_title %}Profile{% endblock %}

{% block body %}

<div class="ui text container">

    <h1>
        {{ profile.user|name }}
    </h1>

    <div class="ui stackable equal width grid">
        <div class="column">

            {% if profile.picture %}
                <img class="small bordered rounded ui image" src="{{ profile.picture.url }}">
            {% else %}
                <img class="small bordered rounded ui image" src="/static/web/img/avatar_placeholder.png">
            {% endif %}
            <h4>
                {% for group in profile.user.groups.all %}
                    {{ group }}
                {% empty %}
                    <em>Non-member</em>
                {% endfor %}
            </h4>
            {% if request.user == profile.user %}
                <button type="button" onclick="show_modal()" class="ui tiny blue button">Edit profile</button>
            {% endif %}
        </div>

        <div class="column">
            <div class="ui accordion">

                <div class="active title">
                    <i class="dropdown icon"></i>
                    <h3 style="display: inline;">Projects</h3>
                </div>
                <div class="active content">
                    {% for project in profile.user.projects.all %}
                        <a href="{% url "project" pk=project.pk %}">{{ project.title}}</a>
                    {% empty %}
                        <p><em>No projects listed</em></p>
                    {% endfor %}
                </div>

                <div class="active title">
                    <i class="dropdown icon"></i>
                    <h3 style="display: inline;">Skills</h3>
                </div>
                <div class="active content">
                    {% for skill in profile.skills.all %}
                        <a class="ui tiny green button" href="{% url "skill" pk=skill.pk %}">{{ skill.name }}</a>
                    {% empty %}
                        <p><em>No skills listed</em></p>
                    {% endfor %}
                </div>


            {% if request.user == profile.user %}
                <div class="title">
                    <i class="dropdown icon"></i>
                    <h3 style="display: inline;">Starred resources</h3>
                </div>
                <div class="content">
                    {% for resource in profile.user.starred_resources.all %}
                        <li style="position: relative; left: 20px"><a href="{% url "resource_detail" pk=resource.pk %}">{{ resource.title }}</a></li>
                    {% empty %}
                        <p><em>No favorite resources</em></p>
                    {% endfor %}
                </div>

                {% if profile.user.collection_applications.all %}
                    <h4>My project applications:</h4>
                    <ul>
                        {% for collection in profile.user.collection_applications.all %}
                            <li>
                                <a href="{% url "collection" pk=collection.pk %}">{{ collection.name }}</a>
                                {% if collection.form_link %}
                                    - <a href="{{ collection.form_link }}">application</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>


    <div class="ui modal">
        <div class="ui text container">
            <form class="ui form" method="POST" enctype="multipart/form-data">
                <h1>Edit profile</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="ui primary button">Save</button>
                <button type="reset" onclick="hide_modal()" class="ui button">Cancel</button>
            <p></p>
            </form>
        </div>
    </div>

    <script>
        function show_modal() {
            $('.ui.modal').modal('show');
        }
        function hide_modal() {
            $('.ui.modal').modal('hide');
        }
        $('.ui.dropdown').dropdown();
        $('.ui.accordion').accordion({exclusive: false});
    </script>
</div>

{% endblock %}
