{% extends 'web/base.html' %}
{% load staticfiles %}

{% block body %}
<div class="ui text container">

    <h1>PROJECT</h1>

    <h2>{{ project.title }}</h2>
    {% if request.user == project.manager %}

    {% endif %}
    <p>-Created by <em>{{ project.manager }}</em></p>

    <p>{{ project.description }}</p>

    {% if user.is_authenticated %}
        {% if project.application_open and project.application_end %}
            <p>Applications open up to (and including) {{ project.application_end|date:"d M Y" }}</p>
            <form method="post" action="{% url "apply_to_project" pk=project.pk %}">
                {% csrf_token %}
                <button type="submit" class="ui blue button">Apply</button>
            </form>
        {% else %}
            <p>Applications closed</p>
        {% endif %}
    {% endif %}

    {% if project.members.all %}
        <p>
            Members: {% for member in project.members.all %}
            <a href="{% url 'profile' username=member.user.username %}">{{ member }}</a>,
            {% endfor %}
        </p>
    {% endif %}

</div>
{% endblock %}