{% extends 'web/base.html' %}
{% load staticfiles %}

{% block title %}Events{% endblock %}
{% block og_title %}Events{% endblock %}


{% block body %}
    <div class="ui text container">
        <h1>
            Skills
        </h1>
        {% for skill in skill_list %}
            <div>
               <h3> {{ skill }} </h3>
                <div class="ui column grid">

                <!-- #TODO: Add text "Ingen brukere med denne ferdigheten" if skill.users.all is empty -->

                {% for user in skill.users.all %}
                    <div class="column" style="width: 80px;">

                        {% if profile.picture %}
                            <img class="bordered rounded ui image" src="{{ user.picture.url }}">
                        {% else %}
                            <img class="bordered rounded ui image" src="/static/web/img/avatar_placeholder.png">
                        {% endif %}

                        <a href="{% url 'profile' user %}"> {{ user }} </a> <!-- Her returnerer user.username ingenting -->

                    </div>
                {% endfor %}
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}