{% extends 'web/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="ui text container">

        <h1 class="text_align" style="text-align: center">
            {{ skill.name }}
            <div class="ui large teal circular label">{{ skill.users.count }}</div>
        </h1>
        <p class="text_align" style="text-align: center">{{ skill.description }}</p>
        {% if not skill.users.all %}
            <div class="ui large horizontal divided list">
                <div style="margin-top: 3%">
                    No one in Cogito has this skill yet. Become the first!
                </div>
            </div>
        {% else %}
            {% include 'user_profile/profile_divided_list.html' %}
        {% endif %}
    </div>
{% endblock %}