{% extends 'web/base.html' %}
{% load staticfiles %}

{% block title %}Skills{% endblock %}
{% block og_title %}Skills{% endblock %}

{% block body %}


    <div class="ui text container">
        <h1>
            Skills
        </h1>
        <br>
        <div class="ui container">
        {% for skill in skill_list %}
            {% if skill.users %}
            <div class="ui card accordion" style="width: 80%">
                <div style="margin-left: 20px" class="content title">
                    <i class="dropdown icon"></i>
                    <h2 class="header" style="display: inline;">
                        <a href="{% url 'skill' pk=skill.pk %}" style="color: black;" class="accordion_preventor">
                                {{ skill }}
                                <div class="ui teal circular label">
                                {{ skill.users.count }}
                            </div>
                            </a>
                    </h2>
                </div>
                <div class="ui large horizontal divided list content">
                {% for profile in skill.users.all %}
                        <a href="{% url 'profile' profile %}"
                           class="item" id="line_override"
                           {% if   profile.user.groups.all|join:', '  %}
                                 data-tooltip="Verv: {{ profile.user.groups.all|join:', '  }}"
                           {% endif %}
                        >
                        <div class="content">
                            <img
                                {% if profile.picture %}
                                   src="{{ profile.picture.url }}"
                                {% else %}
                                    src="/static/web/img/avatar_placeholder.png"
                                {% endif %}
                                class="ui avatar image">

                                {% if profile.user.first_name and profile.user.last_name %}
                                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                                {% else %}
                                    {{ profile }}
                                {% endif %}
                        </div>

                        </a>
                {% endfor %}
                </div>
            </div>

            {% endif %}
        {% endfor %}
    </div>
    </div>

    <script>
        $('.accordion_preventor').click(function( event ) {
            event.stopImmediatePropagation();
        });
        $('.ui.dropdown').dropdown();
        $('.ui.accordion').accordion({exclusive: false});

    </script>
    <style>

    #line_override:first-child{
        padding-left: 8px!important;
        border-top: none!important;
        border-top-width: initial!important;
        border-top-style: none!important;
        border-top-color: initial!important;
        border-left: 1px solid rgba(34,36,38,.15)!important;
        border-left-width: 1px!important;
        border-left-style: solid!important;
        border-left-color: rgba(34, 36, 38, 0.15)!important;
    }

    </style>

{% endblock %}