{% extends 'web/base.html' %}
{% load staticfiles %}

{% block body %}
<div class="ui text container">

    <h1 class="text_align" style="text-align: center">
        <a class="ui large red circular label">{{   skill.users.count }}</a>
        Skill: {{ skill.name }}
    </h1>
    <p class="text_align" style="text-align: center">{{ skill.description }}</p>


    <h3 style="text-align: center">Members of Cogito that masters this skill:</h3>
    <div class="ui large horizontal divided list">

        {% if not skill.users.all%}
           <div style="margin-top: 3%">
              Ingen i cogito har denne ferdigheten enda. Lær deg det og bli den første!
           </div>
        {% endif %}
        {% for profile in skill.users.all %}
                    <a href="{% url 'profile' profile %}" class="item">
                            <img
                            {% if profile.picture %}
                               src="{{ profile.picture.url }}"
                            {% else %}
                                src="/static/web/img/avatar_placeholder.png"
                            {% endif %}
                            class="ui avatar image">
                            <div class="content">
                                <div class="header">
                                    {% if profile.user.first_name and profile.user.last_name %}
                                        {{ profile.user.first_name }} {{ profile.user.last_name }}
                                    {% else %}
                                        {{ profile }}
                                    {% endif %}
                                </div>
                                <div>
                                    <!--
                                    {% if profile.skills %}
                                        <div class="description">
                                            <p>{% for skill in profile.skills.all %}<a href="{% url 'skill' pk=skill.pk %}">{{ skill }}</a>, {% endfor %} </p>
                                        </div>
                                    {% endif %}
                                    -->
                                </div>
                            </div>

                        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!--

{% if profile.user.first_name and profile.user.last_name %}
                            <div style="text-align: center;" data-tooltip="{{ profile.user.first_name }} {{ profile.user.last_name }}" data-position="bottom center">
                                <div style="overflow: hidden">
                                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                                </div>
                            </div>
                        {% else %}
                            <div>
                                <div style="overflow: hidden">
                                {{ profile.user.username }}
                                </div>
                            </div>
                        {% endif %}

                          <div class="detail">
                            {{ profile.committee }}
                          </div>

-->