{% extends "web/base.html" %}
{% load static %}
{% block body %}
{% csrf_token %}
<style>
.flexi-container{
	display:flex;
	width:100%;
	justify-content:center;
}
.flex-container1{
	display:flex;
	width:40% !important;
	margin-top:70px;
	margin-right:100px;
	margin-left:60px;
	align-items:center;
	height:100%;
	text-align:center;
	flex-direction: column;
}
.flex-container1 h1{
	width:90%;
}
.flex-container2 {
	display:flex;
	width:50%;
	margin-top:50px;
	margin-right:60px;
	height:100%;
	flex-direction: column;
}
.tweet-container{
	display:flex;
	height:25%;
	align-items:left;
	text-align:left;
	padding-top:30px;
	padding-bottom:30px;
	padding-left:20px;
	padding-right:40px;
}
.tweet-container:hover{
	background-color: rgb(245,248,250);
}
.tweet-container .cogito_logo{
	margin-right:10px;
	margin-top:5px;
}
/*Media code for twitterbot*/
@media(max-width:1500px){
	.flex-container1 h1{
		font-size:14px !important;
	}
}
@media(max-width:1000px){
	.flexi-container{
		margin:0%;
		text-align:center;
		display:block;
		width:100%;
	}
	.flex-container1{
		margin:0%;
		text-align:center;
		display:block;
		width:100%;
	}
	.flex-container2{
		margin:0%;
		text-align:center;
		display:block;
		width:100%;
	}
}
</style>

   	<div class="flexi-container">
		<div class="flex-container1">
			<h1 style="font-size:23px; line-height:0.2"> Natural language processing // Fake News</h1>
			<h1 style="font-style:normal; font-size:small; line-height:0.5; "> -Project lead: <italic> Espen Boman Fosseide.</italic></h1>
			<h1 style="font-style:normal; font-size:medium;"> I dette prosjektet skal vi bruke et recurrent neural network (RNN) for å etterligne Donald Trumps særegne twitter-utsagn. Vi skal starte enkelt, og utvide modellen til vi får så realistiske resultater som mulig. Deretter skal vi utvikle en applikasjon eller nettside hvor man kan teste tekstgeneratoren selv. Hvis vi har mer tid etter dette kan vi utforske ulike metoder for tekstgenerering, og måle de opp mot hverandre.</h1>
			<img src="{% static "web/img/Cogitron2.jpg" %}" width=90%>
		</div>

		<div class="flex-container2">
            {% for tweet in object_list %}
			<div class="tweet-container">
				<a href="../../web/templates/web/indexc.html" class="cogito_logo" style="display:inline-block;padding-top: 12px" ><img src="{% static "web/img/brain_transparent.png" %}" height=25px>	</a>
				<div class="tweet-background">
					<div class="tweet-text">
						<h1 style="font-family:arial; font-size:medium; line-height:0.5; display:inline-block; font-size:15px">Tonald Drump</h1>
						<a href="../../web/templates/web/indexc.html" class="cogito_logo" style="display:inline-block" ><img src="{% static "web/img/verified.png" %}" height=12px>	</a>
						<h1 style="font-style:normal; font-family:montserrat; font-size:medium; line-height:0.5; color:grey; font-size:12px; display:inline-block;"> @TonaldDrump</h1>
						<h1 style="font-style:normal; font-size:medium; line-height:1"> {{ tweet.content }} </h1>
					</div>
				</div>
				<a onclick="location.href='{% url 'like-tweet' pk=tweet.tweet_id %}'" class="cogito_logo" style="display:inline-block;cursor: pointer;position: absolute;left: 90.5%;padding-top: 8px" ><img src="{% static "web/img/heart_trans.png" %}" height=17px>	</a>
                <a style="position: absolute;left: 92%;padding-top: 12px;color: black">{{ tweet.likes }}</a>
			</div>{% endfor %}
            {% if is_paginated %}
            <div class="ui pagination menu" style="align-items: center;width: 50%;margin: 0 auto">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo;Første side&nbsp;</a>
                    <a class="item" href="?page={{ page_obj.previous_page_number }}"><</a>
                {% else %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
                <a class="active item" style="text-align: center">Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}</a>
                {% if page_obj.has_next %}
                    <a class="item" href="?page={{ page_obj.next_page_number }}">></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">&nbsp;Siste Side&raquo;</a>
                {% endif %}
            </div>
            {% endif %}
		</div>

	</div>

{% endblock %}