<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cogito NTNU</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> <!-- font found at fonts.google.com -->
	<link rel="icon" href="images/logo.svg"> <!-- logo i tab -->
	<link rel="stylesheet" type="text/css" href="css/stylesc.css">
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
				<!--span instead of div because div would end up on a new line, span is in same line-->
				<a href="indexc.html">
					<img src="images/brain.png" width=90px>
				</a>
				
				<h1><a href="indexc.html">COGITO NTNU</a></h1>
			</div>
			<nav>
				<ul>
					<li class="nav-links"><a href="logginn.html">logg inn</a></li>
					<li class="nav-links"><a href="prosjekter.html">om oss</a></li>
					<li class="nav-links"><a href="verv.html">verv</a></li>
					<li class="nav-links"> <a href="prosjekter.html">prosjekter</a></li>
					<li class="nav-links"><a href="nyheter.html">nyheter</a></li>

				</ul>
			</nav>
		</div>
	</header>

	<div class="flexi-container">
		<div class="flex-container1">
			<h1 style="font-style:bold; font-size:23px; line-height:0.2"> Natural language processing // Fake News</h1>
			<h1 style="font-style:normal; font-size:small; line-height:0.5; "> -Project lead: <italic> Espen Boman Fosseide.</italic></h1>
			<h1 style="font-style:normal; font-size:medium;"> I dette prosjektet skal vi bruke et recurrent neural network (RNN) for å etterligne Donald Trumps særegne twitter-utsagn. Vi skal starte enkelt, og utvide modellen til vi får så realistiske resultater som mulig. Deretter skal vi utvikle en applikasjon eller nettside hvor man kan teste tekstgeneratoren selv. Hvis vi har mer tid etter dette kan vi utforske ulike metoder for tekstgenerering, og måle de opp mot hverandre.</h1>
			<img src="images/Cogitron.jpg" width=90%>
		</div>
		<div class="flex-container2">
			<div class="tweet-container">
				<a href="indexc.html"; class="cogito_logo"; display:inline-block; ><img src="../../web/static/web/img/brain_transparent.png" height=25px>	</a>
				<div class="tweet-background">	
					<div class="tweet-text">						
						<h1 style="font-style:bold; font-family:arial; font-size:medium; line-height:0.5; display:inline-block; font-size:15px">Tonald Drump</h1>
						<a href="indexc.html"; class="cogito_logo"; display:inline-block; ><img src="../../web/static/web/img/verified.png" height=12px>	</a>
						<h1 style="font-style:normal; font-family:montserrat; font-size:medium; line-height:0.5; color:grey; font-size:12px; display:inline-block;"> @TonaldDrump</h1>
						<h1 style="font-style:normal; font-size:medium; line-height:1"> People are not happy with the fact that I AM not going to win the Popular vote. They are not happy with the fact that I am not able to win the Debate. </h1>

					</div>
				</div>
				<a href="indexc.html"; class="cogito_logo"; display:inline-block; ><img src="../../web/static/web/img/heart_trans.png" height=17px>	</a>
			</div>
		</div>
	</div>

	<footer>
		<div>
			<a href="indexc.html"><img src="images/logo.svg" height=60px>	</a>		
		</div>
		<div>
			<p> &copy;2020 COGITO NTNU</p>
		</div>
	</footer>

</body>


</html>