{% extends 'web/base.html' %}
{% load staticfiles %}

{% block title %}Articles{% endblock %}
{% block og_title %}Articles{% endblock %}

{% block body %}
    <div class="ui text container">
        <h1>
            Artikler
        </h1>
        {% if perms.news.add_article %}
            <a class="ui blue button" href="{% url "article-create" %}">Legg til</a>
        {% endif %}
        {% for article in object_list %}
            <h2>
                <a class="cogito_col_dkgray" href="{% url "article" pk=article.pk %}">{{ article.title }}</a>
            </h2>
            <p>
                {% if perms.news.change_article %}
                <a class="mini ui blue button"  href="{% url "article-update" pk=article.pk %}">Endre</a>
                {% endif %}
                {% if perms.news.delete_article %}
                    <a class="mini ui blue button"  href="{% url "article-delete" pk=article.pk %}">Slett</a>
                {% endif %}
            </p>
            <p>{{ article.ingress|default:"" }}</p>
        {% empty %}
            <p>Ingen artikler</p>
        {% endfor %}
    </div>
{% endblock %}
