{% extends 'web/base.html' %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}
{% block og_title %}{{ object.title }}{% endblock %}
{% block og_description %}{{ object.content|truncatechars_html:"100" }}{% endblock %}
{% block description %}{{ object.content|truncatechars_html:"100" }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-forest.light.css' %}"/>
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block body %}
    <div class="ui text container">
        {% if object.banner %}
            <img alt="" class="ui image" width="100%" src="/media/{{ object.banner.name }}">
        {% endif %}
        <h2 class="ui huge header">
            {{ object.title }}
            {% if perms.news.change_article %}
                <a aria-label="Endre" class="size14"  href="{% url "article-update" pk=object.pk %}">Edit</a>
            {% endif %}
        </h2>
        {{ object.content|safe }}
        {% include "news/date_created.html" %}
        {% for file in object.files.all %}
        <p><a href="{{ file.file.url }}">{{ file.filename }}</a></p>
        {% endfor %}
    </div>
{% endblock %}
