{% extends 'web/base.html' %}
{% load staticfiles %}

{% block title %}Articles{% endblock %}
{% block og_title %}Articles{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-forest.light.css' %}"/>
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block body %}
    <div class="ui text container">
        {% if perms.news.add_article %}
            <a class="ui blue button" href="{% url "article-create" %}">New</a>
        {% endif %}
        {% for article in object_list %}
            <h1>
                <a class="cogito_col_dkgray" href="{% url "article" pk=article.pk %}">{{ article.title }}</a>
                {% if perms.news.change_article %}
                    <a href="{% url "article-update" pk=article.pk %}" style="font-size: 14px">Edit</a>
                {% endif %}
                {% if perms.news.delete_article %}
                    <a href="{% url "article-delete" pk=article.pk %}" style="font-size: 14px">Delete</a>
                {% endif %}
            </h1>
            {{ article.content|safe }}
        {% endfor %}
    </div>
{% endblock %}
