{% extends 'web/base.html' %}
{% load staticfiles %}

{% block title %}Articles{% endblock %}
{% block og_title %}Articles{% endblock %}

{% block body %}
    <div class="ui text container">
        <h1>
            Articles
            {% if perms.news.add_event %}
                <a class="size14"  href="{% url "event-create" %}">New</a>
            {% endif %}
        </h1>
        {% if perms.news.add_article %}
            <a class="ui blue button" href="{% url "article-create" %}">New</a>
        {% endif %}
        {% for article in object_list %}
            <h1>
                <a class="cogito_col_dkgray" href="{% url "article" pk=article.pk %}">{{ article.title }}</a>
                {% if perms.news.change_article %}
                    <a class="size14"  href="{% url "article-update" pk=article.pk %}">Edit</a>
                {% endif %}
                {% if perms.news.delete_article %}
                    <a class="size14"  href="{% url "article-delete" pk=article.pk %}">Delete</a>
                {% endif %}
            </h1>
            <p>{{ article.ingress|default:"" }}</p>
        {% empty %}
            <p>No articles</p>
        {% endfor %}
    </div>
{% endblock %}
