{% extends 'web/base.html' %}

{% block title %}{{ object.title }}{% endblock %}
{% block og_title %}{{ object.title }}{% endblock %}
{% block og_description %}{{ object.content|truncatechars:"100" }}{% endblock %}
{% block description %}{{ object.content|truncatechars:"100" }}{% endblock %}

{% block body %}
    <div class="ui text container">
        <h1>
            {{ object.title }}
            {% if perms.news.change_article %}
                <a href="{% url "article-update" pk=object.pk %}" style="font-size: 14px">Edit</a>
            {% endif %}
        </h1>
        <p>{{ object.content }}</p>
    </div>
{% endblock %}
