{% extends 'web/base.html' %}
{% load staticfiles %}

{% block title %}Events{% endblock %}
{% block og_title %}Events{% endblock %}

{% block body %}
    <div class="ui text container">
        <h1>
            Utkast
        </h1>
        {% if perms.news.add_event %}
        <!--
        <a class="ui blue button" href="{% url "events" %}">Events</a>
        <a class="ui blue button" href="{% url "articles" %}">Articles</a>
        -->
        {% endif %}
        {% include "news/event_list.html" %}
    </div>
{% endblock %}
