{% load helpers %}

{% with object|get_class|lower as class %}
<div class="ui text container">
    {% for object in object_list %}
        <div class="ui vertical segment">
            <div class="content">
                <div class="image">
                {% if object.banner %}
                    <a href="{% if class == 'event' %}{% url "event" pk=object.pk %}{% else %}{% url "article" pk=object.pk %}{% endif %}">
                        <img class="ui image" width="90%" src="../media/{{ object.banner.name }}">
                    </a>
                {% endif %}
                </div>
                <h1 class="header">
                    {% if class == 'event' %}
                        <a class="cogito_col_dkgray" href="{% url "event" pk=object.pk %}">{{ object.title }}</a>
                    {% else %}
                        <a class="cogito_col_dkgray" href="{% url "article" pk=object.pk %}">{{ object.title }}</a>
                    {% endif %}
                </h1>
                {% if object|get_class|lower == 'event' %}
                    <div class="extra">
                        <span>{{ object.start_date|date:"d M Y" }} {{ object.start_time }}
                        {% if object.start_time %} - {{ object.start_time }} {% endif %}</span>
                        {% if object.location %}
                            <a {% if object.location_url %}href="{{ object.location_url }}"{% endif %}>
                                <span>{{ object.location }}</span>
                            </a>
                        {% endif %}
                        {% if object.facebook_url %}
                            <a href="{{ object.facebook_url }}">
                                <i class="ui facebook icon"></i>
                            </a>
                        {% endif %}
                        {% if object.signup_url %}
                            <a href="{{ object.signup_url }}">
                                <i class="ui calendar icon"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="description">
                    <p>{{ object.content|safe|default:""|truncatechars:400 }}</p>
                </div>
                <br>
                <div class="link">
                    {% if class == 'event' %}
                        <a href="{% url "event" pk=object.pk %}">Read more »</a>
                    {% else %}
                        <a href="{% url "article" pk=object.pk %}">Read more »</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <p>No events</p>
    {% endfor %}
</div>
{% endwith %}
