{% extends 'web/base.html' %}
{% load static %}

{% block body %}


<!DOCTYPE html>
<html>
    
<body>
	<div class="content-wrapper">
        <div class="portfolio-items-wrapper">
            {% for collection in collection_list %}
                {% for project in collection.projects.all %}
                <head>
                <meta name="viewport" content="width=device-width, initial-scale=0.2">
                </head>
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image:url(/media/{{project.thumbnail.name}})">	</div>
                        <div class="img-text-wrapper">
                            <div class="subtitle" style = "font-style:bold;">
                                <a style="font-style:bold; font-size:3 em;" href="{% url 'project' pk=project.pk %}"> {{project.title}}.</a>
                            </div>
                            <div class="subtitle">
                                <p >{{ project.description|safe|linebreaks }}</p>            
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {%endfor%}
        </div>
    </div>
</body>

<style>
@media screen and (max-width: 1500px){
    .portfolio-items-wrapper {
        display:block!important;
    }
    .portfolio-item-wrapper{
        height:50vh;
    }
    .portfolio-img-background{
        height:50vh;
    }
    .img-text-wrapper .subtitle  {
        max-width: 50vw;
        max-height: 100vh;
        font-size: 40px;
    }
    .subtitle{
        font-size:50px;
    }
}
</style>

<!-- Adding JavaScript for transition to dark-->
<script type="text/javascript">
	const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper')
	portfolioItems.forEach(portfolioItem => {
		portfolioItem.addEventListener('mouseover', () => {
			/*console.log(portfolioItem);*/
			portfolioItem.childNodes[1].classList.add('img-darken');
		})
		portfolioItem.addEventListener('mouseout', () => {
			/*console.log(portfolioItem);*/
			portfolioItem.childNodes[1].classList.remove('img-darken');
		})
	})
</script>
</html>

{% endblock %}