{% extends 'web/base.html' %}
{% load static %}

{% block body %}


<!DOCTYPE html>
<html>
<body>
	<div class="content-wrapper">
        <div class="portfolio-items-wrapper">
            {% for collection in collection_list %}
                {% for project in collection.projects.all %}
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image:url(/media/{{project.thumbnail.name}})">	</div>
                        <div class="img-text-wrapper">
                            <div class="subtitle">
                                <a style="font-style:bold; font-size:medium;" href="{% url 'project' pk=project.pk %}"> {{project.title}}.</a>
                            </div>
                            <div class="subtitle">
                                <p>{{ project.description|safe|linebreaks }}</p>            
                            </div>
                            <div class="subtitle">
                                <p style="font-style:italic; font-size:small;">Pågående prosjekt.</p>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {%endfor%}
        </div>
    </div>
</body>

<!-- Adding JavaScript for transition to dark-->
<script type="text/javascript">
	const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper')
	portfolioItems.forEach(portfolioItem => {
		portfolioItem.addEventListener('mouseover', () => {
			/*console.log(portfolioItem);*/
			portfolioItem.childNodes[1].classList.add('img-darken');
		})
		portfolioItem.addEventListener('mouseout', () => {
			/*console.log(portfolioItem);*/
			portfolioItem.childNodes[1].classList.remove('img-darken');
		})
	})
</script>
</html>

{% endblock %}