{% extends 'web/base.html' %}
{% load staticfiles %}
{% load helpers %}

{% block body %}
<div class="ui text container">

    <h1>Collection: {{ collection.name}}</h1>

    {% if messages %}
        <ul class="messages" style="font-weight: bold">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>{{ collection.description|safe }}</p>

    {% for project in collection.projects.all %}
        <div class="ui container" id="{{ forloop.counter }}">
            <div class="ui very padded vertical segment" id="{{ project.title }}">
                {% if project.thumbnail %}
                    <img class="ui small left floated image" src="/media/{{ project.thumbnail.name }}">
                {% else %}
                    <img class="ui small left floated image" src="/static/web/img/avatar_placeholder.png">
                {% endif %}
                <h2>
                    {{ project.title }}
                    <span style="font-size: 14px; font-weight: normal;">
                        <em> - project lead:
                        <a href="{% url 'profile' username=project.manager.username %}">{{ project.manager|name }}</a>
                        </em>
                    </span>
                </h2>
                <div class="ui styled fluid accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Description
                    </div>
                    <div class="content" id="{{ forloop.counter }}-content">
                        <p>{{ project.description|safe|linebreaks }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <p></p>

    <div class="ui segment" id="apply">
        {% if collection.application_open and collection.form_link%}
            <p>Applications open up to (and including): <strong>{{ collection.application_end_date|date:"d M Y" }}</strong></p>
            {% if not user.is_authenticated %}
                <p><em>You must be logged in to apply to our projects</em></p>
            {% elif user not in collection.applicants.all%}
                <form method="post" action="{% url "apply_to_collection" pk=collection.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="ui blue button">Apply</button>
                </form>
            {% else %}
                <p><em>Your application has been received. If you want to revisit the application form you can find
                a link to it on your profile page</em></p>
            {% endif %}
        {% elif collection.application_open and not collection.form_link %}
            <em><p>These projects are not open to applicants at the moment. Please come back at a later date</p></em>
        {% else %}
            <p>Applications closed</p>
        {% endif %}
    </div>

</div>

<script>
    $('.ui.accordion')
    .accordion();

    var url = window.location.href;
    var id = url.split('#')[1];
    var content_div = $('#' + id + '-content')[0];
    content_div.setAttribute('class', 'active ' + content_div.getAttribute('class'));


</script>
{% endblock %}