{% extends 'web/base.html' %}
{% load staticfiles %}
{% load helpers %}

{% block body %}
<div class="ui text container">

    <h1>{{ collection.name}}</h1>

    {% if messages %}
        <ul class="messages" style="font-weight: bold">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>{{ collection.description }}</p>

    {% for project in collection.projects.all %}
        <div class="ui container">
            <div class="ui very padded vertical segment">
                {% if project.thumbnail %}
                    <img class="ui small left floated image" src="../media/{{ project.thumbnail.name }}">
                {% else %}
                    <img class="ui small left floated image" src="/static/web/img/avatar_placeholder.png">
                {% endif %}
                <h2>{{ project.title }}</h2>
                <em><p>project lead:
                    <a href="{% url 'profile' username=project.manager.username %}">{{ project.manager|name }}</a>
                </p></em>
                <p>{{ project.description|safe|linebreaks }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="ui segment">
        {% if user.is_authenticated %}
            {% if collection.application_open %}
                <p>Applications open up to (and including): <strong>{{ collection.application_end_date|date:"d M Y" }}</strong></p>
                {% if user not in project.collection.applicants.all%}
                    <form method="post" action="{% url "apply_to_collection" pk=collection.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="ui blue button">Apply</button>
                    </form>
                {% else %}
                    <p><em>Application received</em></p>
                {% endif %}
            {% else %}
                <p>Applications closed</p>
            {% endif %}
        {% endif %}
    </div>

</div>
{% endblock %}