{% extends 'web/base.html' %}
{% load staticfiles %}

{% block body %}
<div class="ui text container">

    <h2>{{ project.title }}</h2>
    {% if request.user == project.manager %}
        <a href="{% url "project_admin" pk=project.pk %}"><button class="ui blue button">Manage applications</button></a>
        <a href="{% url "edit_project" pk=project.pk %}"><button class="ui blue button">Edit</button></a>
        <a href="{% url "delete_project" pk=project.pk %}"><button class="ui red button">Delete</button></a>
    {% else %}
        {% if perms.user_profile.change_project and perms.user_profile.delete_project %}
            <a href="{% url "edit_project" pk=project.pk %}"><button class="ui blue button">Edit</button></a>
            <a href="{% url "delete_project" pk=project.pk %}"><button class="ui red button">Delete</button></a>
        {% endif %}
    {% endif %}
    <p>-Created by <em>{{ project.manager }}</em></p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>{{ project.description|safe }}</p>

    {% if user.is_authenticated %}
        {% if project.application_open %}
            <p>Applications open up to (and including) <strong>{{ project.collection.application_end|date:"d M Y" }}</strong></p>
            {% if user not in project.collection.applicants.all%}
                <form method="post" action="{% url "apply_to_project" pk=project.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="ui blue button">Apply</button>
                </form>
            {% else %}
                <p><em>Application received</em></p>
            {% endif %}
        {% else %}
            <p>Applications closed</p>
        {% endif %}
    {% endif %}

    <h3>Members:</h3>
    {% if project.members.all %}
        <p>
            {% for user in project.members.all %}
            <a href="{% url 'profile' username=user.username %}">{{ user }}</a>,
            {% endfor %}
        </p>
    {% else %}
        <p><strong><em>This project currently has no members</em></strong></p>
    {% endif %}

</div>
{% endblock %}