<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cogito NTNU</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> <!-- font found at fonts.google.com -->
	<link rel="icon" href="images/logo.svg"> <!-- logo i tab -->
	<link rel="stylesheet" type="text/css" href="css/stylesc.css">
</head>
<body>
	<div class="container">
		<div class="nav-wrapper">
			<div class="left-side">
				<a href="indexc.html">
					<img src="images/brain.png" width=90px>
				</a>
				<div class="brand">
					<div class="nav-link-wrapper2"><!-- to make it an active state -->
						<a href="indexc.html">COGITO NTNU</a>
					</div>
				</div>
				
			</div>
			<div class="right-side">
				<div class="nav-link-wrapper"> 
					<a href="nyheter.html">NYHETER</a>
				</div>
				<div class="nav-link-wrapper active-nav-link">
					<a href="prosjekter.html">PROSJEKTER</a>
				</div>
				<div class="nav-link-wrapper">
					<a href="verv.html">VERV</a>
				</div>
				<div class="nav-link-wrapper">
					<a href="omoss.html">OM OSS</a>
				</div>
				<div class="nav-link-wrapper">
					<a href="logginn.html">LOGG INN</a>
				</div>
			</div>
		</div>
	</div>

	<div class="content-wrapper">
			<div class="portfolio-items-wrapper">
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/Cogitron.jpg)">	
					</div>
					<div class="img-text-wrapper">
						<!--
						<div class="logo-wrapper">
							<img src="images/logos/eventbrite.png">
						</div>-->
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> Cogitron v3.</p>
						</div>
						<div class="subtitle">
							 I 2019 startet prosjektet hvor første generasjon Cogitron (avbildet) ble bygget. I år skal det lages en ny og forbedret versjon, samtidig som vi   programmerer og vedlikeholder originalen.
						</div>
						<div class="subtitle">
							<p style="font-style:italic; font-size:small;">Pågående prosjekt.</p>
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/StyleGan.png)">	
					</div>
					<div class="img-text-wrapper">
						<!--
						<div class="logo-wrapper">
							<img src="images/logos/eventbrite.png">
						</div>-->
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> StyleGAN.</p>
						</div>
						<div class="subtitle">
							Her bruker vi den ultramoderne StyleGAN-teknologien til å skape realistiske bilder av nye, eksotiske matretter. Det vil dannes forståelse for hva StyleGAN går ut på ved å bygge modellen opp fra bunnen av.
						</div>
						<div class="subtitle">
							<p style="font-style:italic; font-size:small;">Pågående prosjekt.</p>
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/Mario.png)">	
					</div>
					<div class="img-text-wrapper">
						<!--
						<div class="logo-wrapper">
							<img src="images/logos/eventbrite.png">
						</div>-->
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> Spill-AI.</p>
						</div>
						<div class="subtitle">
							Ved å bruke "belønning og straff" skal vi skape an AI som kan spille dataspill. Det sees også på AI som er inspirert av evolusjon og biologi. 
						</div>
						<div class="subtitle">
							<p style="font-style:italic; font-size:small;">Pågående prosjekt.</p>
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/arcade.png)">	
					</div>
					<div class="img-text-wrapper">
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> Arcade.</p>
						</div>
						<div class="subtitle">
							Problemløsning ved hjelp av Reinforcement Learning. Det ble tatt i bruk teknikker som Q-learning og dype Q-nettverk for å løse forskjellige problemer, med mål om å få lært opp en AI til å for eksempel spille tetris.
						</div>
						<div class="subtitle">
							<p style="font-style:italic; font-size:small;">Våren 2020.</p>
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/bilde.png)">	
					</div>
					<div class="img-text-wrapper">
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> Cogitron v2.</p>
						</div>
						<div class="subtitle">
							I 2019 bygde vi Cogitron, våren 2020 ble hjernen og en bedre kropp bygd. Cogitron ble utstyrt med hjul, armer, bevegelig hode, kamera, mikrofon, høyttaler og mer. Takket være dette kan Cogitron programmeres til å gjøre forskjellige oppgaver. 
						</div>
						<div class="subtitle">
							<p style="font-style:italic; font-size:small;">
							Våren 2020.</p>
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/bilde_1.png)">	
					</div>
					<div class="img-text-wrapper">	
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> Fake News.</p>
						</div>
						<div class="subtitle">
							I dette prosjektet ble det brukt recurrent neural network (RNN) for å etterligne Donald Trumps særegne twitter-utsagn. Målet var å få så realistiske resultater som mulig. Klikk <a href="programmer.html">her</a> for å teste twitter-boten.
						</div>
						<div class="subtitle">
							<p style="font-style:italic; font-size:small;">Våren 2020.</p>
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/face_aging.jpg)">	
					</div>
					<div class="img-text-wrapper">
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> Face Aging.</p>
						</div>
						<div class="subtitle">
							Det ble lagd en kunstig intelligens som kunne ta inn et bilde av en person, for så å gi ut bilder av hvordan den samme personen kan se ut som gammel. 
							Det ble lært om hvordan man kan generere bilder med dyp læring, for så å trene opp to kunstige intelligenser ved at de utfordret hverandre.
						</div>
						<div class="subtitle">
							<p style="font-style:italic; font-size:small;">Høsten 2019.</p>
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/alphazero.jpg)">	
					</div>
					<div class="img-text-wrapper">
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> AlphaZero.</p>
						</div>
						<div class="subtitle">
							Vi implementerte og trente AlphaZero-algoritmen på et (eller flere?) spill. Det ble lært om hvordan algoritmen lærer av å spille mot seg selv, og hvordan man kan implementere det.
						</div>
						<div class="subtitle">
							<p style="font-style:italic; font-size:small;">Høsten 2019.</p>
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/cogitron2.jpg)">	
					</div>
					
					<div class="img-text-wrapper">
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> Cogitron v1.</p>
						</div>
						<div class="subtitle">
							Vår egen maskott, Cogitron, ble skapt. Dette semesteret gikk til design, bygging og programmering. 
						</div>
						<div class="subtitle">
							<p style="font-style:italic; font-size:small;">Høsten 2019.</p>
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/dialog_flow.jpg)">	
					</div>
					<div class="img-text-wrapper">
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> Dialog Flow.</p>
						</div>
						<div class="subtitle">
							Det ble jobbet med å lage våre egne samtaler i Google Assistant, slik at vi fikk assistenten til å fortelle oss om akkurat det vi ville. Det ble også lært hvordan man kunne lage en stemmestyrt applikasjon.
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/neural.jpg)">	
					</div>
					<div class="img-text-wrapper">
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> AI-intro.</p>
						</div>
						<div class="subtitle">
							Her ble det lært hvordan et nevralt nettverk er en av de viktigste hjørnesteinene til kunstig intelligens. Det ble lagd kunstig intelligens ved hjelp av matematikken, logikken, og oppbyggingen til et nevralt nettverk.
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/languages.webp)">	
					</div>
					<div class="img-text-wrapper">	
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> NLP.</p>
						</div>				
						<div class="subtitle">
							Innenfor NLP (Natural Language Processing) bruker man forskjellige teknikker fra AI-feltet for å prøve å få maskiner til å 'forstå' menneskespråk. På dette prosjektet 
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/neuralnetwork.jpg)">	
					</div>
					<div class="img-text-wrapper">
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> Generative modeller.</p>
						</div>
						<div class="subtitle">
							Vi skal se på generative modeller! Vi skal lese masse kule papers. Vi skal implementere mange kule arkitekturer. Felles for alt vi skal gjøre er at det blir visuelt. Vi skal jobbe med dype nettverk som generer noe vi kan se på som output. Det som gjør dette så kult å jobbe med er at du får visuell feedback når du har gjør feil.

							Planen er at vi begynner med autoenkodere og så velger vi som gruppe hvor vi vil gå videre om det er enda mer på autoenkodere eller om vi vil videre til GAN og sekvensielle nettverk. Vi skal innom style transfer og generering av bilder. Kanskje også musik?
						</div>
					</div>
				</div>
				<div class="portfolio-item-wrapper">
					<div class="portfolio-img-background" style="background-image:url(images/chess2.webp)">	
					</div>
					<div class="img-text-wrapper">
						<div class="subtitle">
							<p style="font-style:bold; font-size:medium;"> Anvendt Reinforcement Learning.</p>
						</div>
						<div class="subtitle">
							Her ble det skapt bots som vha. RL kunne spille forskjellige spill. Deltakerne fikk i stor grad bestemme selv hvilke problemer de ville angripe, men samlet for å dele kunnskap og erfaringer.
						</div>
					</div>
				</div>
			</div>

	<footer>
		<div>
			<a href="indexc.html"><img src="images/logo.svg" height=60px>	</a>
			
		</div>
		<div>
			<p> &copy;2020 COGITO NTNU</p>
		</div>
	</footer>
</body>

<!-- Adding JavaScript for transition to dark-->
<script type="text/javascript">
	const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper')
	portfolioItems.forEach(portfolioItem => {
		portfolioItem.addEventListener('mouseover', () => {
			/*console.log(portfolioItem);*/
			portfolioItem.childNodes[1].classList.add('img-darken');
		})
		portfolioItem.addEventListener('mouseout', () => {
			/*console.log(portfolioItem);*/
			portfolioItem.childNodes[1].classList.remove('img-darken');
		})
	})
</script>
</html>