#line_override:first-child{
    padding-left: 8px!important;
    border-top: none!important;
    border-top-width: initial!important;
    border-top-style: none!important;
    border-top-color: initial!important;
    border-left: 1px solid rgba(34,36,38,.15)!important;
    border-left-width: 1px!important;
    border-left-style: solid!important;
    border-left-color: rgba(34, 36, 38, 0.15)!important;
}