{% extends 'web/base.html' %}
{% load staticfiles %}

{% block body %}

<div class="ui text container">
    <h1>{{ entry.title }}</h1>
    <p><strong>{{ entry.type}} by {{ entry.creator }}</strong> - <em>{{ entry.grade }} difficulty</em></p>

    {% if entry.tags %}
        <p><em>Tagged as: {% for tag in tags %} {{tag}},  {% endfor %}</em></p>
    {% endif %}

    {% if perms.recommendation.change_entry %}
        <a class="mini ui blue button"  href="{% url "edit_entry" pk=entry.pk %}">Edit</a>
    {% endif %}
    {% if perms.recommendation.delete_entry %}
        <a class="mini ui blue button"  href="{% url "delete_entry" pk=entry.pk %}">Delete</a>
    {% endif %}

    <p>{{ entry.description|safe|linebreaks}}</p>
    {% if entry.link %}
    <a href="{{entry.link}}" class="big ui blue button">Go to</a>
    {% endif %}
    <p><br></p>
</div>

<!-- vil gjerne ha et vertikalt slideshow som viser 4 cards om gangen. Vet ikke hvordan -->
<div class="ui cards five column stackable grid center aligned ">
    {% for rel_entry in related %}
    <a class="card column" href="{% url "entry_detail" pk=rel_entry.pk %}">
        <div class="content">
            <div class="header">{{ rel_entry.title }}</div>
            <div class="meta">{{ rel_entry.creator }}</div>
            <div class="description">{{ rel_entry.description|truncatechars:140|safe }}</div>
        </div>
    </a>
    {% endfor %}
</div>



{% endblock %}