{% extends 'web/base.html' %}
{% load staticfiles %}

{% block body %}

<div class="ui text container">

<h1>Entries </h1>
{% if perms.recommendation.create_entry %}
    <a class="mini ui blue button"  href="{% url "entry_form"%}">New</a>
{% endif %}

{% for entry in entry_list %}
    <div class="entry-listing">
        <h2><a href="{% url 'entry_detail' pk=entry.pk %}">{{ entry.title }}</a></h2>
        <p><strong>{{ entry.medium }} by {{ entry.creator }}</strong> - <em>{{ entry.grade }} difficulty</em></p>
        {% if entry.description %}
            <p>{{ entry.description|safe|linebreaks }}</p>
        {% else %}
            <p><em>No description available</em></p>
        {% endif %}
    </div>
{% endfor %}
</div>

{% endblock %}