
.responsibility {
    color : white;
    font-size : 22px;
    width : 100%;
    background-color: #314CB6;
}
.rehabilitation {
    background-color: #0A81D1;
    padding : 40px;
}
.extraterrestrial {
    width : 60%;
    margin : auto;
}