    .main.grid {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 50px;
}

.white {
    color: white;
}

@media screen and (max-width: 767px) {
    .main.grid {
        grid-template-columns: 1fr;
    }
}

.hidden-title {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px,1px,1px,1px);
}
