.nav {
    min-height: 100px;
    border-bottom: #eeeeee 1px solid;
}

.nav .container {
    display: grid;
    grid-template-columns: 90px 240px 1fr;
    grid-template-rows: 100px auto;
    align-items: center;
}

.nav a.logo {
    height: 75%;
}

.nav img.logo {
    height: 100%;
    object-fit: cover;
}

.nav .menu {
    justify-self: right;
    z-index: 10;
    background-color: #ffffff !important;
}

.nav .menu .item {
    font-size: 16px;
}

.nav .cogito {
  font-size: 36px;
}

.nav .name {
    font-size: 36px;
}

.nav .burger {
    display: none;
    margin-bottom: -10px;
}

.nav .burger:hover {
    cursor: pointer;
}

.nav .burger {
    justify-self: center;
}

.nav .burger i {
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    .nav .container {
        margin: 0 !important;
        grid-template-columns: 6em 6em 20em;
    }

    .nav .burger {
        display: inline;
    }

    .nav .name {
      display: none;
    }

    .nav .menu {
        display: none;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: left;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: #eeeeee 1px solid !important;
    }

    .nav.active .menu {
        display: inline;
    }
}
