@media only screen and (max-width : 900px) {
    /* Hides entire slideshow when on mobile, as that gets pretty wonky */
    #slideshow, #slideshow * {
        display : none;
    }
}

#slideshow {
    z-index : 100;
    margin : auto;
    display : block;
}



#slideContentWrapper {
    background-color : #333333;
    color : #FAFAFA;
    width : 100%;
    box-shadow : 0px 0px 5px black;
    transition : 0.2s;
    opacity : 1;
}
#slideContentWrapper:hover {
    opacity : 0.95;
    cursor : pointer;
    box-shadow : 0px 0px 15px black;
}



#slideImgWrapper {
    position : relative;
    height : 100%;
    overflow : hidden;
}

#slideTextWrapper {
    position : absolute;
}



#slideImg {
    min-width : 100%;
    min-height : 100%;
    max-width : 150%;
    max-height : 150%;
    position : absolute;
    transform : translate(-50%, -50%);
    left : 50%;
    top : 50%;
}

#slideTitle {
    width : 100%;
    overflow : hidden;
    white-space : nowrap;
    font-style : normal;
}

#slideDesc {
    font-style : italic;
    position : absolute;
    width : 100%;
    overflow : hidden;
}




.slideButtonWrapper {
    position : absolute;
}

.slideButton {
    height : 100%;
    transition : 0.2s;
    opacity : 1;
}
.slideButton:hover {
    opacity : 0.7;
    cursor : pointer;
    filter : drop-shadow(0px 0px 5px black);
}

#slideLButton {
    transform : scaleX(-1);
}


#slideExplanation {
    text-align : center;
    /*background-color : aliceblue;*/
}