#header {
    height: 300px;
    width: 100%;
    background-color: #ffffff;
    margin-left: 350px;
}

#navbar {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid #490160 1px;
    border-top: solid #490160 1px;
    margin-left: 400px;
    margin-right: 400px;
}

.title{
    font-size: 150px;
    text-align: left;
    color: #490160;
    margin-left: 50px;
    margin-top: 100px !important;
    font-family: 'Roboto', sans-serif;
    /*font-weight: lighter;*/
    opacity: 0.1;
}