body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

p, a, h1, h2, h3, h4, h5, span {
    font-family: 'Noto Sans', sans-serif !important;
}
/*
h1, h2,h3,h4,h5 {
    font-size: 5em;
}
*/
.size14 {
    font-size: 14px;
}

.white.header {
    color: #ffffff;
}

.meta .icon, .meta a {
    color: rgba(0, 0, 0, 0.4);
}
.meta span {
    color: rgba(0, 0, 0, 0.6);
}

.cogito_bg_blue {
    background-color: rgb(34, 181, 225) !important;
}

.cogito_bg_turquoise {
    background-color: rgb(53, 232, 167) !important;
}

.cogito_bg_yellow {
    background-color: rgb(249, 248, 113) !important;
}

.cogito_bg_gray {
    background-color: rgb(152, 175, 186) !important;
}

.cogito_bg_dkgray {
    background-color: rgb(52, 74, 83) !important;
}

.cogito_col_blue {
    color: rgb(34, 181, 225) !important;
}

.cogito_col_turquoise {
    color: rgb(53, 232, 167) !important;
}

.cogito_col_yellow {
    color: rgb(249, 248, 113) !important;
}

.cogito_col_gray {
    color: rgb(152, 175, 186) !important;
}

.cogito_col_dkgray {
    color: rgb(52, 74, 83) !important;
}

.cogito_ft_lgray {
  background-color: rgb(236, 236, 236) !important;
}

.text_align{
    text-align: center;
}
.cogito_col_blue_opaque_70{
    color: rgba(34, 181, 225, 0.9) !important;
}

.rotate_20_left{
    -ms-transform: rotate(20deg)!important; /* IE 9 */
  -webkit-transform: rotate(20deg)!important; /* Safari 3-8 */
  transform: rotate(20deg)!important;
}