p, a, h1, h2, h3, h4, h5 {
    font-family: 'Noto Sans', sans-serif !important;
}

.cogito_bg_blue {
    background-color: rgb(34, 181, 225);
}

.cogito_bg_turquoise {
    background-color: rgb(53, 232, 167);
}

.cogito_col_blue {
    color: rgb(34, 181, 225);
}

.cogito_col_turquoise {
    color: rgb(53, 232, 167);
}
