{% extends 'web/base.html' %}
{% load staticfiles %}

{% block title %}Ai, ai, ai. Not found!!1{% endblock %}


{% block body %}
    <div class="error_404">
        <br class="ui container">
        <a class="logo" href="{% url "home" %}"><img class="ui centered medium image" src="{% static "web/img/logo_404.svg" %}"></a>
        <br/>
        <div class="ui text container center aligned">
            <div style="font-size: 48px">404 - Ikke funnet</div>
            <br>
            <h3>Vårt mest avanserte nevrale nettverk karte ikke finne ut av hvor du ville...</h3>
        </div>
    </div>
{% endblock %}
