{% extends 'web/base.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'web/css/error_404.css' %}">

{% block title %}Ai, ai, ai. Not found!!1{% endblock %}


{% block body %}
    <div class="error_404">
        <br class="ui container">
        <a class="logo" href="{% url "home" %}"><img class="ui centered medium image" src="{% static "web/img/logo_404.svg" %}"></a>
        <br/>
        <div class="ui text container center aligned">404</div>
        <div class="ui text container center aligned">Not even our advanced neural network managed to figure out where you were going...</div>
    </div>
{% endblock %}
