{% load static %}
<!DOCTYPE html>

<!--
    class = "responsibility" 1. mørkeblå bkg, dekker alt
class = "rehabilitation" 2. bilder, slideshow, lyseblå
class = "extraterrestrial" 3. div som begrenser tekst
-->
<html>

<head>
    <meta charset="utf-8">
    <title>Cogitron</title>
    <link rel="stylesheet" type="text/css" href="/static/web/css/slideshow.css">
    <link rel="stylesheet" type="text/css" href="/static/web/css/cogitron.css">
    
</head>

<body>
    <div class="responsibility">
        <div class="rehabilitation">
            <div class="extraterrestrial">
                Veldig dyp Cogitron-lore: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ipsum dui,
                ullamcorper et dui vitae, pulvinar sollicitudin ante. Quisque maximus, leo quis pretium lacinia, tortor
                ex eleifend urna, quis consequat libero mauris at augue. Proin sed libero egestas, volutpat quam et,
                accumsan sapien. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Pellentesque vitae quam in tortor aliquet cursus a at ipsum. Aenean sapien quam, venenatis a velit eget,
                lobortis sagittis tortor. Phasellus id hendrerit nibh. Suspendisse orci sapien, vestibulum non augue ut,
                blandit vehicula leo. Vivamus neque sapien, scelerisque a elementum ut, hendrerit vitae sapien.

                Suspendisse pellentesque orci vel nulla molestie dignissim. Nulla mollis, magna non interdum blandit,
                sem lacus gravida urna, ut efficitur diam nisl quis felis. Curabitur aliquet nulla vitae nunc
                condimentum tempus. Vivamus ac felis nec est dictum accumsan ac quis risus. Cras mattis, turpis quis
                iaculis consequat, enim nibh interdum sem, eget ornare orci dui a arcu. Donec id ultricies ligula, non
                scelerisque ex. Nunc vestibulum eu mi vitae luctus.

                Nunc ac venenatis libero, gravida bibendum nisi. Nullam blandit orci sem, in vestibulum augue mollis sit
                amet. Vivamus venenatis fermentum nunc ac ultricies. Morbi sed dolor dignissim diam luctus sollicitudin.
                Cras id dapibus quam. Nam lectus nisl, vehicula a ornare non, posuere eu nulla. Aenean purus lorem,
                imperdiet vitae faucibus nec, laoreet at lectus. Pellentesque ut dolor sollicitudin, accumsan justo ac,
                tincidunt mi. Donec gravida, arcu vitae faucibus hendrerit, dui orci gravida est, a condimentum ex dui
                eget sapien. Aenean et arcu malesuada, pulvinar justo vel, consequat est. Ut finibus, leo id facilisis
                pharetra, massa purus tempus orci, ut malesuada neque mauris et urna. Donec aliquet turpis odio, eu
                pellentesque felis tincidunt ut.

                Donec dictum facilisis metus, in sodales augue lobortis vitae. Nulla tincidunt sed nulla eget ultrices.
                Aenean ac sollicitudin enim, vel dictum orci. Duis aliquet orci mi, eu laoreet tellus venenatis ut.
                Integer quis purus consectetur, ultricies leo eu, elementum lectus. Morbi felis eros, viverra nec auctor
                eget, hendrerit eget ex. Praesent in molestie arcu, eu aliquet lorem. Phasellus mattis faucibus felis
                non maximus. Morbi eget velit ac odio tincidunt tempor. Mauris volutpat sapien metus, a cursus ante
                commodo ac. Nam placerat arcu fringilla feugiat volutpat. Duis blandit interdum nunc, ut condimentum
                eros ultrices in. Morbi dolor sem, aliquam quis varius in, consequat eu sapien. Duis congue tempus ante,
                vel finibus sem tincidunt ut.
            </div>
        </div>

        <div id="slideshow"></div>
        <script src="{% static 'web/js/slideshow.js' %}">
        </script>
        <script>
            var path = "/static/web/img/cogitron/";
            //CreateProject("Title", "img", "link", "desc");
            CreateProject("0", path+"IMG_20190914_175927.jpg", "", "0");
            CreateProject("1", path+"IMG_20191124_134245.jpg", "", "1");
            CreateProject("2", path+"IMG_20200809_112936.jpg", "", "2");
            CreateProject("3", path+"IMG_20200910_200406.jpg", "", "3");
            CreateProject("4", path+"IMG_20200914_222534.jpg", "", "4");
            CreateProject("5", path+"IMG_20200917_194435.jpg", "", "5");
            CreateProject("6", path+"IMG_20200917_200839.jpg", "", "6");
            CreateProject("7", path+"IMG_20201103_192104.jpg", "", "7");
            CreateProject("8", path+"IMG_20201117_211101.jpg", "", "8");
            explanation = "Galleri";
            ResetAll();
        </script>

        <!--slideshow goes here-->
        <div class="rehabilitation">
            <div class="extraterrestrial">
                Join the gang
            </div>
        </div>
    </div>
</body>

</html>