
.responsibility {
    color : white;
    font-size : 22px;
    width : 100%;
    background-color: #314CB6;
}
.rehabilitation {
    background-color: #0A81D1;
    padding : 40px;
}
.extraterrestrial {
    width : 60%;
    margin : auto;
}

.scrollParent {
    position : relative;  /* Needed for overflow: hidden */
    overflow : hidden;
}
.scroll {
    overflow : hidden;
}
img.scroll {
    min-width : 100%;
    min-height : 100%;

    left : 50%;  /* Requires position:absolute */
    transform : translateX(-50%);  /* Requires position:absolute */
}