{% load staticfiles %}
{% load helpers %}

<link rel="stylesheet" type="text/css" href="{% static 'web/css/nav.css' %}">

<div class="nav">
    <div class="ui container">
        <div class="burger">
            <i class="sidebar icon cogito_col_dkgray"></i>
        </div>
        <a class="logo" href="{% url "home" %}"><img class="logo" src="{% static "web/img/logo.svg" %}"></a>
        <div>
          <a class="name cogito_col_dkgray" href="{% url "home" %}">Cogito NTNU</a>
        </div>

        <div class="ui secondary menu">
            {% if perms.news.change_article or perms.news.change_events %}
            <a class="item" href="{% url 'drafts' %}"><p class="mt">Drafts</p></a>
            {% endif %}

            <a class="item" href="{% url 'resource_list' %}"><p class="mt">Resources</p></a>
            <a class="item" href="{% url 'collection_list' %}"><p class="mt">Projects</p></a>

            <div class="ui dropdown item">
                <div class="text"><p class="mt">About</p></div>
                <i class="dropdown icon"></i>
                <div class="ui menu transition hidden">
                    <a class="item" href="{% url 'about' %}"><p class="mt">About</p></a>
                    <a class="item" href="{% url 'about/statutes' %}"><p class="mt">Statutes</p></a>
                    <a class="item" href="{% url 'about/business' %}"><p class="mt">Enterprise</p></a>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="ui dropdown item">
                    <div class="text">
                        {{ user|first_name }}
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{% url 'profile' username=user.username %}"><p class="mt">Profile</p></a>
                        <a class="item" href="{% url 'logout' %}"><p class="mt">Logout</p></a>
                    </div>
                </div>
            {% else %}
                <a class="item" href="{% url 'login' %}"><p class="mt">Login</p></a>
            {% endif %}
            {% block scripts %}
                    <script>$('.dropdown').dropdown();</script>
            {% endblock scripts %}
        </div>
    </div>
</div>
<div class="jumbo-container" id="opptak">
    <div class="ui huge message page grid jumbo">
        <h2 class="ui huge header row white">Cogito har opptak!</h2>
        <h3>Bli en del av et lidenskapelig AI-miljø ved NTNU!
        </h3>
        <form class="row" action="https://docs.google.com/forms/d/1Qi_FHv9iBkEgFz4oOVU2VODWKjIzmLrSE9itbiBFQvg" target="_blank">
            <button class="fluid ui button inverted large" >Klikk her for å søke</button>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('.burger').click(function () {
            $('.nav').toggleClass('active');
        });
    });

    // Gjem opptaksboksen utenfor opptaksperioden. Bytt ut med en langsiktig løsning snarest
    let opptak = document.getElementById('opptak');
    if (Date.now() > new Date("September 1, 2019 00:00:00") || Date.now() < new Date("August 19, 2019 18:00:00")) {
        opptak.style.display = 'none';
    }
</script>
