{% load static %}
{% load helpers %}
<head>
        <meta charset="utf-8">
        <title>Cogito NTNU</title>
        <link rel="icon" href="{% static "web/img/logo.svg" %}"> <!-- logo i tab -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> <!-- font finnes på fonts.google.com -->
        <link rel="stylesheet" type="text/css" href="{% static 'web/css/stylesc.css' %}">
</head>
<div class="nav-wrapper">
    <div class="left-side">
        <a href="{% url 'home' %}">
            <img src="{% static "web/img/logo.svg" %}" width=90px>
        </a>
        <div class="brand">
            <div class="nav-link-wrapper2"><!-- to make it an active state -->
                <a href="{% url 'home' %}">COGITO NTNU</a>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="nav-link-wrapper"> 
            <a href="/news">NYHETER</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="/projects">PROSJEKTER</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="/verv/vervgroup/1/">VERV</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="/about">OM OSS</a>
        </div>
        <div class="nav-link-wrapper">
        <!-- TODO Dataporten-->
            <a href="{% url 'login' %}">LOGG INN</a>
        </div>
    </div>
</div>
