{% load staticfiles %}
{% load helpers %}

<link rel="stylesheet" type="text/css" href="{% static 'web/css/nav.css' %}">

<div class="nav">
    <div class="ui container">
        <div class="burger">
            <i class="sidebar icon cogito_col_dkgray"></i>
        </div>
        <a class="logo" href="{% url "home" %}"><img class="logo" src="{% static "web/img/logo.svg" %}"></a>
        <a class="name cogito_col_dkgray" href="{% url "home" %}">Cogito NTNU</a>
        <div class="ui secondary menu">
            {% if perms.news.change_article or perms.news.change_events %}
            <a class="item" href="{% url 'drafts' %}">
                Drafts
            </a>
            {% endif %}
            <a class="item" href="{% url 'events' %}">
                Events
            </a>
            <a class="item" href="{% url 'resource_list' %}">
                Resources
            </a>
            <a class="item" href="{% url 'collection_list' %}">
                Projects
            </a>
            <div class="ui dropdown item">
                <div class="text">About</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{% url 'about' %}">
                        About
                    </a>
                    <a class="item" href="{% url 'about/statutes' %}">
                        Statutes
                    </a>
                    <a class="item" href="{% url 'about/business' %}">
                        Enterprise
                    </a>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="ui dropdown item">
                    <div class="text">
                        {{ user|name }}
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{% url 'profile' username=user.username %}">
                            Profile
                        </a>
                        <a class="item" href="{% url 'logout' %}">
                            Logout
                        </a>
                    </div>
                </div>
            {% else %}
                <a class="item" href="{% url 'login' %}">
                    Login
                </a>
            {% endif %}

            {% block scripts %}
                    <script>$('.dropdown').dropdown();</script>
            {% endblock scripts %}
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.burger').click(function () {
            $('.nav').toggleClass('active');
        });
    });
</script>
