{% extends "web/base.html" %}
{% load static %}
{% block body %}


<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/web/css/slideshow.css">
</head>
<body>
	<div class="container2">
		<div id="showcase-wrapper">
			<div class="left-side-wrapper">
				<div id="container2">
					<p id="bold" style="font-family: Montserrat !important;">Vi gjør <span
							style="font-family: Montserrat !important;text-decoration-line: underline;text-decoration-color: #30B3EC">kunstig
							intelligens</span> tilgjengelig for alle.
					<p>
				</div>
				<div class="container3">
					<p style="font-family: Montserrat !important;">Cogito NTNU er en frivillig studentorganisasjon som jobber for å
					fremme læring og interesse for kunstig intelligens på alle nivåer. Dette gjør vi gjennom arrangementer som kurs, foredrag og hackathons samt prosjekter som gjennomføres hvert semester.</p>
					<div class= "grid">
						<a href="about" class="button">OM OSS </a>
						<a href="projects" class="button">PROSJEKTER </a>
						<a href="\news" class="button"> NYHETER </a>
					</div>
				</div>
			</div>
			<div class="right-side-wrapper">	
				<img src="{% static "web/img/Ingensirkel.gif" %}" alt="this slowpoke moves" width=800px id = "gif">
			</div>
		</div>

		<div id="showcase2-wrapper">
			<div class="container">
				<p> 				
					Vårt mål er å være en åpen <span>studentorganisasjon</span> der alle som er nysgjerrige kan delta.
				</p>
			</div>
			<div class="grid" id = "grid_pics">
				<img src="{% static "web/img/teaching.jpg" %}" width=300 height=300>
				<img src="{% static "web/img/cogitocrew.jpg" %}" width=550 height=450>
				<img src="{% static "web/img/koselig_bilde.jpg" %}" width=300 height=300>


			</div>
		</div>

		<div id="showcase3-wrapper">
			<div class="container">
				<div class="box">
					<p>"Vi i Cogito ser etter deg som er nysgjerrig på AI og ønsker å lære mer om det i en sosial setting, uansett erfaringsnivå."</p>

					<div id="espen">
						<div id="box-espen1">
							<img src="{% static "web/img/espen.png" %}">
						</div>
						<div class="box-espen2">
							<p><strong>Espen Fosseide</strong></p>

							<p style="color:rgb(204,204,204)">Styreleder</p>
						</div>
					</div>
				</div>
				<div class="box">
					<img src="{% static "web/img/Cogitron.jpg" %}" width=500>
				</div>
			</div>
		</div>
		<!--Prosjekter-->
		<!--
		<div id="showcase4-wrapper">
			<div class="container">
				<h1><span>Lorem ipsum</span> - dolor sit amet consectetur</h1>
				<div id="slideshow">
				</div>
			</div>
		</div>
		
		<div id="showcase3-wrapper">
			<div class="container">
				
			<h1 class="endtext">
				<span>Lorem ipsum</span> dolor sit amet consectetur
			</h1>
			</div>
		</div>
		-->
		<!-- fixed social media menu -->
		<div id="fixedcontainer">
			<ul class="fixedcontent">
				<li>
					<a href="{% url 'login' %}">BLI MEDLEM</a>
				</li>
				<li>
					<a href="https://www.facebook.com/CogitoNTNU" target="_blank">FACEBOOK</a>
				</li>
			</ul>
		</div>
		<style>
		@media screen and (max-width: 1500px) {
			#fixedcontainer {
				display: none!important;
			}
		  }
		@media screen and (max-width: 1500px){
			#gif {
				display: none!important;
			}
			.button{
				display:none;
			}
		}
		</style>

	</div>

	<div id="slideshow"></div>
	<script src="{% static 'web/js/slideshow.js' %}">
	</script>
	{% for project in projects %}

		{% if project.thumbnail %}
		{% spaceless %}
		<script>
			// gets name, img, link, desc from django database
			CreateProject('{{ project.title }}', '/media/{{ project.thumbnail.name }}', 'projects/project/{{ project.pk }}', '{{ project.description|safe|linebreaks }}');
		</script>

		{% endspaceless %}

	
	{% endif %}
	{% endfor %}
	<script>
		ResetAll();
	</script>

</body>

</html>

{% endblock body %}
