{% extends 'web/base.html' %}


{% block body %}
{% with singlepage as sp %}
    <div class="ui text container">
        {% if perms.delete_singlepage %}
            <a class="mini ui red button"  href="{% url "delete_single_page" slug=sp.slug %}" aria-label="Slett" >Delete</a>
        {% endif %}
        {% if perms.change_singlepage %}
            <a class="mini ui blue button"  href="{% url "change_single_page" slug=sp.slug %}" aria-label="Endre" >Edit</a>
        {% endif %}
        <p>
            {{ sp.content|safe }}
        </p>

        {% for file in sp.files.all %}
            <p><a href="{{ file.file.url }}" aria-label="Åpne filen {{file.filename}}" >{{ file.filename }}</a></p>
        {% endfor %}
    </div>
{% endwith %}
{% endblock %}


